.productos-destacados {
  padding: 2rem 1rem;
  text-align: center;
}

.productos-destacados__title {
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff; /* Blanco */
  background: linear-gradient(90deg, #e03a1c, #ff1493); /* Azul a fucsia */
  padding: 1rem 20rem;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.productos-destacados__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.productos-destacados__item {
  background: linear-gradient(120deg, #ffffff,   #e90ea735); /* Blanco a verde menta */
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 220px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.productos-destacados__item:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  border: 2px solid #1e90ff; /* Azul eléctrico */
}

.productos-destacados__image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.productos-destacados__name {
  font-size: 1.2rem;
  color: #2e2e2e; /* Gris oscuro */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productos-destacados__price {
  font-size: 1.6rem;
  color: #ff1493; /* Rosa fucsia */
  margin-bottom: 1rem;
}

